@model LibraryApp.Models.Reader

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>

<h4>Borrowed books</h4>
<hr />
<dl class="dl-horizontal">

    @foreach (var item in Model.Books)
    {
        <table class="table">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Borrow date
                </th>
                <th>
                    Expected return date
                </th>
                <th>

                </th>
            </tr>

            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Author
                </td>
                <td>
                    @item.Isbn
                </td>
                <td>
                    @item.BorrowDate
                </td>
                <td>
                    @item.ReturnDate
                </td>
                <td>
                    @Html.ActionLink("Return", "ReturnBook", "Book", new { id = item.Id }, null)
                </td>
            </tr>
        </table>
    }

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
