@model PagedList.IPagedList<LibraryApp.Models.Reader>
@using PagedList.Mvc;
<link href="#" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Readers";
}

<h2>Readers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Reader", FormMethod.Get))
{
<div class="form-inline">
    <p>
        @Html.Label("Name:")
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        @Html.Label("ID:")
        @Html.TextBox("IdSearchString", ViewBag.IdCurrentFilter as string, new { @class = "form-control" })
        <input type="submit" class="btn btn-primary mb-2" value="Search">
    </p>
</div>
}
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter, idcurrentFilter = ViewBag.IdCurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, idcurrentFilter = ViewBag.IdCurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Surname", "Index", new { sortOrder = ViewBag.SurnameSortParm, currentFilter = ViewBag.CurrentFilter, idcurrentFilter = ViewBag.IdCurrentFilter })
            </th>
            <th>
                Street
            </th>
            <th>
                HouseNumber
            </th>
            <th>
                ApartmentNumber
            </th>
            <th>
                PostalCode
            </th>
            <th>
                City
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApartmentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
    <br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFIlter = ViewBag.CurrentFilter, idcurrentFilter = ViewBag.IdCurrentFilter, @class = "pagination" } ))
